[2013-12-02 13:33] EarMaster opened #2 "Installation fails because of better-dateinput-polyfill 1.2.0"
Installation using bower fails because better-dateinput-polyfill 1.2.0 is requested, but not available via bower. Only 1.0.0 and then 1.3.0 upwards are available.

[2013-12-04 19:22] #2 closed, assigned to nobody

[2014-04-16 22:31] afeld opened #3 "Open picker in viewport"
Seen in Safari 7.0.3:

![screen shot 2014-04-16 at 6 31 01 pm](https://cloud.githubusercontent.com/assets/86842/2726180/d2ab9396-c5b6-11e3-8794-9bf3af4a93da.png)

Would be great to have the plugin detect the edges of the page to make sure the picker is fully onscreen when it opens.

[2014-05-23 10:53] noffeperfekt opened #4 "Throw event at change"
There is no event to hook on to when (new) date is set, this would be nice.

[2014-05-26 11:10] #3 closed, assigned to nobody

[2014-05-26 11:10] #4 closed, assigned to nobody

[2014-06-12 23:27] rsimoes opened #5 ""value" attribute not used"
This can be seen in the demo (at least on my system, regardless of browser):
http://chemerisuk.github.io/better-dateinput-polyfill/

The value attribute is set to "2000-01-01", but the date showing is "Dec 31, 1999".

[2014-06-12 23:42] rsimoes opened #6 "Displayed date should default to browser locale settings."
Instead of using a procedure to manually format the date, it might be better to let the Date object's `toLocaleDateString` method decide how to display it. This will then show the format expected by the user, regardless of locale settings.

[2014-06-16 21:28] #6 closed, assigned to nobody

[2014-06-30 09:16] AlessandroEmm opened #7 "Disabling"
Hey there

Thank you for the great polyfill.

I was wondering whether it is possible to disable some Dates (so they can't be picked) based on a List of Dates?
I haven't seen anything on that in the Spec of type="date" but maybe there is a way.

Thanks!
Alessandro

[2014-07-15 07:41] #7 closed, assigned to nobody

[2014-07-24 00:37] nvcken opened #8 "How to click to change year & month"
Could not click on month or year to change on the calendar popup ?

[2014-07-27 10:53] #5 closed, assigned to nobody

[2014-08-29 04:38] timothypratley opened #9 "selecting a date chooses the previous day"
A per live demo link,
select 20th and you get 19th

[2014-08-29 16:16] #9 closed, assigned to nobody

[2014-09-17 17:13] marcorivm opened #10 "May is missing from compact months"
May is not included in the compact months in any of the i18n localizations.
https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/i18n/better-dateinput-polyfill.de.js#L28
https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/i18n/better-dateinput-polyfill.fr.js#L28
https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/i18n/better-dateinput-polyfill.ru.js#L

[2014-09-17 17:17] marcorivm opened #12 "Make year easier to change"
Currently when trying to navigate between years, it's necessary to cycle trough each month until you reach the desired year. This gets pretty tedious.

There should be an easier way to change the current year.

[2014-09-17 22:00] #12 closed, assigned to nobody

[2014-09-26 23:54] cnobile2012 opened #13 "Error in better-dom when using better-dateinput-polyfill"
I'm using the version of both of these apps from github as of the date of the posting of this issue.

In `case "[";` on line 244 of better-dom an error occurs that says `Uncaught TypeError: undefined is not a function (repeated 2 times)`. This happens upon page load.

Any idea what this may be?

[2014-09-29 13:31] ikr opened #14 "Values divergence when using with React.js"
I'm having trouble making the better-dateinput-polyfill work with Facebook's React library. The control doesn't update the input's value for some reason. Also, the programmatic changes to the DOM element's "value" attribute aren't reflected in the date picker widget.

![snapshot](http://www.xiag.ch/share/2014-09-29_1200.png)

You can see yourself [here](http://ikr.su/h/react-period-of-stay-input/d

[2014-09-30 06:01] #14 closed, assigned to nobody

[2014-10-05 07:37] chemerisuk opened #15 "min and max support"
ⓘ min = date NEW
The expected lower bound for the element’s value.
A valid full-date as defined in [RFC 3339], with the additional qualification that the year component is four or more digits representing a number greater than 0.
Example:
1996-12-19
ⓘ max = date NEW
The expected upper bound for the element’s value.
A valid full-date as defined in [RFC 3339], with the additional qualification that

[2014-10-09 22:42] chemerisuk opened #16 "Specify format for the displayed date"
The goal for the task is to specify date format **on element level**. At present the standard doesn't have any attribute for that, therefore need to use something like `data-format`:

[code]

For localization we have to use `<html lang={lang}>` because JS in browser relies on **browser language** that can be different from **web page language** that driven by the `lang` attribute.

I was thinking

[2014-10-20 14:49] #10 closed, assigned to nobody

[2014-11-15 13:26] #15 closed, assigned to nobody

[2014-11-16 16:05] #13 closed, assigned to nobody

[2014-11-26 22:35] nunoarruda opened #19 "Don't rely on default browser styles"
I suggest that you don't rely on default browser styles because they may vary from browser to browser and many sites use their own global styles, CSS resets, frameworks etc and that breaks the calendar layout. Here's an example using Bootstrap:
![screen shot 2014-11-26 at 21 27 46](https://cloud.githubusercontent.com/assets/1189149/5209858/330de0de-75b3-11e4-9135-d8623e2f27c6.png)
I had a hard tim

[2014-11-27 08:01] #19 closed, assigned to nobody

[2014-12-16 09:18] ThaDafinser opened #21 "use native chrome"
Since the repo name says "polyfill" it should only be used if no native support is given.

Chrome has native support for type="date"

[2014-12-16 12:23] #21 closed, assigned to nobody

[2014-12-18 12:16] #16 closed, assigned to nobody

[2014-12-19 10:24] mikemaccana opened #23 "Don't start on current Chrome"
Current Chrome supports `input type=date` since Chrome 20, but better-dateinput-polyfill will still launch and override the default behavior on Chrome 39 and newer.

http://caniuse.com/#feat=input-datetime

Maybe check

    window.navigator.appVersion.match(/Chrome\/\d+/);

And avoid launching on Chrome versions past 20 (or whatever version we consider Chrome's date input to be good enough)

[2014-12-19 17:50] mikemaccana opened #27 "Is there a way to set the defaultValue?"

[2014-12-29 17:27] williamukoh opened #28 "Doesn't fully honor "maxdate" attribute"
Despite setting "maxdate" attribute, you're still able to select (future) dates beyond the max date set

[2015-01-04 04:07] #28 closed

[2015-01-04 04:08] chemerisuk commented on #28
@williamukoh thanks for the report - the issue was fixed

[2015-01-04 04:15] chemerisuk commented on #23
The PR was merged

[2015-01-04 04:15] #23 closed

[2015-01-04 08:58] williamukoh commented on #28
Awesome man. You rock

[2015-01-07 15:12] Orangetronic commented on #27
I find that if I either set a default value, or set the dateinput's value programmatically, it's not updating the display. The input's value does get set, it's just not updating the display. I'm not seeing any error messages, but it looks like onValueChanged isn't getting called when the value gets set by anything other than the calendar widget.

[2015-01-07 15:15] chemerisuk commented on #27
@Orangetronic it won't work only if you use vanilla DOM APIs to update input value. In such case just trigger `change` event manually to notify about the change.

[2015-01-07 15:25] Orangetronic commented on #27
What would that look like? If I call `element.dispatchEvent('change')` I get an "event provided is null" error…

[2015-01-07 16:23] chemerisuk commented on #27
@Orangetronic yeah, vanilla DOM is not sexy. Alternatively you can use better-dom APIs:

[code]

[2015-01-16 16:04] rjanot commented on #8
Hi,

+1, this would be a really great feature

Will check If I can help and do a PR soon

[2015-01-16 23:22] chemerisuk commented on #8
@rjanot I do appreciate your help. Let me know if you have any question.

Currently I stuck with IE8 that has some problems with code in the master branch. As soon as those problems are resolved I'll publish a new version.

[2015-01-30 07:49] stefan-niedermann opened #30 "Support type=datetime and type=time, too"
First let me say a greaaat thank you! You've done a fantastic job!
It's a shame, Firefox still does not support native date and time pickers on desktop yet.

It would be great, if you could support datetime and time as well, because the situation is not better there.

[2015-01-30 12:18] chemerisuk commented on #30
@stefan-niedermann shame on IE too :)

For the time picker I have a separate [time picker polyfill](https://github.com/chemerisuk/better-timeinput-polyfill) which I haven't updated quite a long time... The main reason - I don't like current design solution, so I'm looking for a nice examples. Have you seen any good example for a time picker design?

Having date + time pickers both makes it trivial

[2015-01-30 12:58] stefan-niedermann commented on #30
thought we were talking about *browsers*? ;)

a nice design for a time picker would be this:

![2015-01-30_13h56_56](https://cloud.githubusercontent.com/assets/4741199/5975916/e2393eb2-a887-11e4-96d9-adfc91476d2f.png)

a click to an arrow jumps time 15 minutes.

of course it would be cool if the design would be similar to the date-picker - and a datetime-picker could display both "widgets" next to

[2015-01-30 13:15] chemerisuk commented on #30
let's move conversation to https://github.com/chemerisuk/better-timeinput-polyfill/issues/1

[2015-01-30 13:21] #30 closed

[2015-02-25 22:50] timbofield opened #33 "Disable Native Option"
Chrome is now using its native date picker. Is there a way to force the polyfill version ? ( I realise that isn't much of a polyfill, but I / my client only wants the native for mobile devices )

[2015-02-25 23:02] chemerisuk commented on #33
@timbofield anyway I think it's a good idea to have such option. What about `data-native` attribute that might have values `"desktop"`, `"mobile"` that allows to suppress native control on demand? If it doesn't exist, then current "true polyfill" checks are applied to determine which strategy to use. Otherwise you can control if you want native control or not on element-level. Or you want to set s

[2015-02-25 23:05] timbofield commented on #33
@chemerisuk yes I was just thinking that as well, data-native would be good. I see this line has been added at some point, wasn't in older versions.

https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/src/main.js#L13

[2015-02-25 23:06] timbofield commented on #33
Setting globally would be a 'nice to have' feature

[2015-02-25 23:13] chemerisuk commented on #33
@timbofield yeah, the second argument of `DOM.extend` is a functor, that controls if live extension is applied or not and it accepts the matched element. Therefore the implementation is pretty simple. Just need to find some free time on it :)

I think it's better to keep this option on element-level only. It's kind of making a polyfill to be not a true polyfill, so some developers might be confuse

[2015-02-26 14:05] chemerisuk commented on #33
Released in 1.5.2 ;)

[2015-02-26 14:05] #33 closed

[2015-02-26 22:22] timbofield commented on #33
Fantastic, its working well :)

[2015-03-05 02:28] loganwedwards opened #34 "Data Format not applying in AngularJS"
I have the following:
[code]
I've also tried setting the `value` attribute in the JavaScript code using
[code]

At any rate, the formatting is not being applied and was curious if this has been noticed. Anything specific that I can provide? I was thinking about wrapping this datepicker in an Angular directive, but wanted to hold off if I'm doing something obviously wrong.

Thanks!

[2015-03-05 09:36] chemerisuk commented on #34
@loganwedwards hi. I believe you just need to trigger `change` event manually after any change you make. Angular has `$watch` method, that you can probably use to solve that problem.

[2015-03-05 11:38] chemerisuk commented on #34
@loganwedwards also, if you prefer do it manually, do not update attribute `value` use __property__ instead:

[code]

[2015-03-18 00:54] darren131 commented on #8
Hi,

Just wondering if you've managed to get onto this?

Thanks
Darren

[2015-03-18 08:51] chemerisuk commented on #8
@darren131 sorry, I don't have free time on this feature for now.

[2015-03-18 20:37] darren131 commented on #8
Understand :) Thanks anyway – it's a great product! :)

On 18 March 2015 at 21:51, Maksim Chemerisuk <notifications@github.com>
wrote:

--
Darren Wood • The Fold
+64 21 78 45 78

[2015-03-22 01:19] ysfjwd commented on #34
@loganwedwards any update on this?

[2015-03-25 05:56] BrodaNoel opened #35 "Minimiced version for bower install"
Hi!
Could you (I don't know how its work) add the minimiced version for bower installation?
I mean, when I install the plugin from bower, I should download the min-version.

See you!

[2015-03-25 06:31] BrodaNoel opened #36 "Placeholder doesn't work in Chrome"
Hi!
"placeholder attribute works as expected in browsers that support it".
Do Chrome support it? Because, check it:
http://www.catalogovaqueria.com/registro
Look the input left to the "Imagen de Perfil (Seleccionar)".
The placeholder is working well in Firefox, but the native support of Chrome is browking the placeholder.
Could you do something for that?

[2015-03-25 06:35] BrodaNoel commented on #33
Please, add documentation about it.

[2015-03-25 06:39] BrodaNoel opened #37 "Can't select a prev year"
Hi.
Look, If I need to select "21-01-1990", I should press the " < " button by 5 years.
Could you add something to change quickly the year (and the month)?

[2015-03-25 06:40] BrodaNoel commented on #37
Duplicated: https://github.com/chemerisuk/better-dateinput-polyfill/issues/8

[2015-03-25 06:40] #37 closed

[2015-03-25 06:44] BrodaNoel commented on #8
@chemerisuk, Could you do a quicky sumarize here about: "What I should do to add this behavior?", so, I could work on it and send a pull request.

[2015-03-25 09:02] chemerisuk commented on #8
@BrodaNoel Well, you have to look at the existing source code... And implement this enhancement :) Not sure what details I can provide.

[2015-03-25 09:03] chemerisuk commented on #36
@BrodaNoel correct, by default the polyfill uses native Chrome implementation, that doesn't support placeholders.

[2015-03-25 09:03] chemerisuk commented on #33
will do

[2015-03-25 15:19] BrodaNoel commented on #36
As I see, there is a attribute that you has added to the plugin to force the implementation of the polyfill instead of the native implementation.
Please, add the documentation about it.

[2015-03-25 15:19] #36 closed

[2015-03-25 20:23] BrodaNoel opened #38 "Missing documentation to contrib"
Please, add documentation about how to contrib to the proyect.
I need to know what I need to run to build the code in the moment that I'm doing changes.
Are you using "grunt", "karma"? something?

My idea is run the command that I need to keep running (watching) and start edit files and that command should create the build after any change, so then I could refresh the index.html file and see the c

[2015-03-25 22:05] chemerisuk commented on #38
@BrodaNoel I updated readme. Check it out and let me know if you have any question.

[2015-03-25 22:06] chemerisuk commented on #35
@BrodaNoel I agree, it will be nice to have. I'll include minified version into the next release.

[2015-03-25 22:07] chemerisuk commented on #27
Should work properly I guess.

[2015-03-25 22:07] #27 closed

[2015-03-25 22:12] chemerisuk commented on #33
@BrodaNoel readme was updated

[2015-03-25 22:40] BrodaNoel opened #39 "Error running contrin documentation"
Hi!
I run:
npm install -g gulp
and then
npm start

And I get:

0 info it worked if it ends with ok
1 verbose cli [ 'd:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'd:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@2.5.1
3 info using node@v0.12.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart better-dateinput

[2015-03-25 22:43] chemerisuk commented on #39
Did you run `npm install`?

[2015-03-25 23:01] BrodaNoel commented on #39
No.
I didn't. The documentation doesn't said that hehe.
But, I just run it and I'm still having issues:

I'll paste here again the new log (I didn't check if is the same previous log)
0 info it worked if it ends with ok
1 verbose cli [ 'd:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'd:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@2

[2015-03-25 23:02] BrodaNoel commented on #39
So, sumarizing.
I run:
npm install -g gulp
npm install
(here, without errors)
npm start
And here I get the prev log.

[2015-03-25 23:14] chemerisuk commented on #39
Locally I use node 0.11, you can try it instead of 0.12

[2015-03-25 23:23] BrodaNoel commented on #39
I'm using node 0.12.1
And I'm using Windows 7.
If I run "gulp dev", should I see something? I'm getting a "No gulpfile found".

[2015-03-25 23:36] mikemaccana commented on #27
Really sorry Maksim, at the time I was having the issue I was implementing
a last minute request from my manager just before Christmas and ended up
replacing the library rather than troubleshooting.

Again, sorry I reported this then didn't follow up with a good reproducible
test case. And thanks for a great library.
On 25 Mar 2015 22:07, "Maksim Chemerisuk" <notifications@github.com> wrote:

[2015-03-26 01:38] BrodaNoel commented on #39
I run:
gulp --gulpfile node_modules/better-dom-boilerplate/gulpfile.js --cwd .
And as I see, it's running properly, but, npm start should do it automatically. Right?

[2015-03-26 09:54] chemerisuk commented on #39
@BrodaNoel correct, `npm start` is an alias for that command. Not sure why it doesn't work on your side.

[2015-03-26 11:10] BrodaNoel commented on #39
WE should try a new isolated environment

Firma Automática:
Mail enviado desde mi teléfono móvil. Disculpe los errores y el formato.

[2015-03-26 12:57] chemerisuk commented on #27
@mikemaccana no problem. it's open source - nobody promises anything.

[2015-03-26 12:59] chemerisuk commented on #39
@BrodaNoel nevermind. just run `gulp --gulpfile node_modules/better-dom-boilerplate/gulpfile.js --cwd .` instead if it works on your side.

[2015-03-26 13:00] mikemaccana commented on #27
It was still bad form. Thanks for understanding.

[2015-04-01 13:10] arapoport opened #40 "Doesn't help in JavaFX WebView"
Hi!

Thanks for a nice library!

I found a minor problem. It seems to be that it does not work for JavaFX's WebView. JavaFX lacks native date-picker, but better-dateinput-polyfill does nothing about it.

Under Java 8 the date input field cannot be edited at all (JavaFX's bug, the dropdown box doesn't open) and under Java 7 a simple text field is displayed. (JavaFX has own versioning, it can that i

[2015-04-01 22:17] chemerisuk commented on #40
@arapoport Have you tried to use `data-native="desktop"` on input to [suppress feature detection](https://github.com/chemerisuk/better-dateinput-polyfill#forcing-the-polyfill)?

[2015-04-02 19:08] #38 closed

[2015-04-02 19:09] chemerisuk commented on #39
@BrodaNoel I had to reinstall `gulp`, but it works for me on node 0.12.2

[2015-04-07 10:49] arapoport commented on #40
@chemerisuk Thanks for the tip! JavaFX runs on desktops so I tried `data-native="mobile"` and it worked. It sill forces the widget for all desktop browsers, but for my case it is not a problem.

JavaFX uses Webkit for the WebView, but one of the older versions and does not support many HTML5-features. I assume, that better-dateinput-polyfill thinks it is a Chrome with an own native control and doe

[2015-04-07 11:16] chemerisuk commented on #40
@arapoport old WebKit has a bug with returning value of `type` field that I use to perform the feature detection (more info here http://www.quirksmode.org/blog/archives/2015/03/better_modern_i.html). In the next release I'll try to handle it properly.

[2015-04-07 11:16] #40 closed

[2015-04-07 11:17] chemerisuk opened #41 "Fix feature detection for old WebKit engine"
http://www.quirksmode.org/blog/archives/2015/03/better_modern_i.html

[2015-04-08 13:51] chemerisuk commented on #39
@BrodaNoel does the problem still exist on your side?

[2015-04-08 13:53] chemerisuk commented on #35
The changes have to be done in the separate repo https://github.com/chemerisuk/better-dom-boilerplate/issues/1

[2015-04-08 13:53] #35 closed

[2015-04-09 19:24] sniggitysnax opened #42 "Input field stripped of ::after pseudo-element"
I am using the data-native="mobile" attribute to force desktop to use the polyfill calendar. I have style that places an icon on the ::after psuedo-element of my input field. Upon page load, the ::after pseudo-element and it's relating styles are absent.

[2015-04-09 19:27] chemerisuk commented on #42
@sniggitysnax need a screenshot

[2015-04-09 19:35] sniggitysnax commented on #42
Before:
![screen shot 2015-04-09 at 2 33 02 pm](https://cloud.githubusercontent.com/assets/1430042/7075187/9218857c-dec5-11e4-8a40-228e1d45aa3d.png)

After:
![screen shot 2015-04-09 at 2 33 33 pm](https://cloud.githubusercontent.com/assets/1430042/7075196/9c80e34c-dec5-11e4-878a-be0ca2ce6c8a.png)

[2015-04-09 19:37] chemerisuk commented on #42
@sniggitysnax try to set `position:relative` and appropriate `z-index` value on the pseudo-element.

[2015-04-09 19:47] sniggitysnax commented on #42
I tried that to no avail. Upon page load, it flashes the desired icon and then disappears.
Also, here is the input field without forcing the polyfill:
[code]
and after (with the polyfill):
[code]

[2015-04-09 19:50] chemerisuk commented on #42
Ah, you are styling input's ::after? Bad idea, it doesn't work is all browsers. Use  `background-image` instead with an appropriate svg.

[2015-04-09 19:59] sniggitysnax commented on #42
We are using this on a mvp project and styling ::after is working fine in other instances as well as this instance prior to forcing the polyfill.

[2015-04-09 20:09] sniggitysnax commented on #42
Thank you for your prompt replies thus far!

[2015-04-09 20:13] chemerisuk commented on #42
@sniggitysnax anyway I'd suggest to use `background-image` instead. Styling `::after` is hacky for this use-case (and quirky). Not sure if I can help.

[2015-04-09 20:25] sniggitysnax commented on #42
Okay. Thank you for your feedback. I will see what I can come up with.

[2015-04-09 20:43] sniggitysnax commented on #42
I do see in many references that input type="text" has quirkiness with the ::after pseudo-element in particular.

[2015-04-10 10:08] #42 closed

[2015-04-10 10:08] #39 closed

[2015-04-10 10:13] chemerisuk opened #43 "More reliable way to sync actual and visible values"
It looks like triggering `change` event sometimes is not obvious. Need to investigate if it's possible to use mutation events/`propertychange` to achieve the same goal.

Related issues:
https://github.com/chemerisuk/better-dateinput-polyfill/issues/34
https://github.com/chemerisuk/better-dateinput-polyfill/issues/14

[2015-04-12 00:22] Orangetronic commented on #43
Related: if the polyfill instantiates after a value has been set on a date field, it clears the value. So an example use-case might be an edit form, where a form loads with a particular set of values pre-set.

Right now the best way I've found to solve this is to set a timeout after page load, re-set values, and fire change events, which is all pretty clumsy.

Won't be able to get to it this weeke

[2015-04-13 04:47] vertti commented on #43
Hoping to get this polyfill to work with React. But react doesn't see the values input with this poly. This seems related.

[2015-04-30 20:35] BrodaNoel commented on #39
@chemerisuk .
I just updated `node` and `npm`.
I run:
`npm update -g`
`npm cache clear`
`npm install`
`npm install gulp`
`npm start`

And I get what you see in this file:
![untitled](https://cloud.githubusercontent.com/assets/1837969/7421939/292d8ab2-ef5f-11e4-9da5-66ee37de12fd.png)

I reeeeeally want to help with that new feature: https://github.com/chemerisuk/better-dateinput-polyfill/issues/8 b

[2015-05-01 06:25] BrodaNoel commented on #39
You should show me which versions are you using in your local and global packages. That could be the issue. I'll try to install the same versions as you and check what's happend.

[2015-05-01 06:26] BrodaNoel commented on #39
Note: Working properly in Windows 7. Issues in Windows 8.

[2015-05-01 08:32] BrodaNoel opened #44 "display:none instead of visible: hidden"
Hi @chemerisuk !
I'm looking in you code that when you need to hide something, you are using `visible: hidden` insted of `display: none`.
Why did you do that?

The `display: none` is better to hide tags that "contain" a width and a height...
For example, if you have 3 divs next each other, if you `visible: hidden` the last 2 divs, the "father" div that contain the 3 blocks will continue having the

[2015-05-01 09:32] BrodaNoel commented on #8
I'm working on it right now.
I hope send a PR in a few days for "month displayer" at last... And then I'll continue working with the "year displayer"

![sin titulo](https://cloud.githubusercontent.com/assets/1837969/7428712/9dee267e-efcb-11e4-9eb0-101efbf8ef89.png)

[2015-05-01 10:09] chemerisuk commented on #39
@BrodaNoel I have no idea why you have been experiencing this problem. May be it's a NPM bug.

[2015-05-01 10:13] chemerisuk commented on #44
I use `visible: hidden` instead of `display: none` because of two reasons:
1) `visible: hidden` is more performant, because it triggers only repaint while `display: none` triggers reflow as well
2) you can't use CSS3 animations with `display: none`

You `position:absolute` if you need to move element out of the flow. Also I suggest to read https://github.com/chemerisuk/better-dom/wiki/Declarative-

[2015-05-01 10:14] chemerisuk commented on #8
@BrodaNoel :+1:

[2015-05-05 12:34] #44 closed

[2015-05-06 14:09] DaBourz opened #46 "bug on "line-height" calculation"
I found a bug on line-height calculation on line 62 :

https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/dist/better-dateinput-polyfill.js#L62

Using some collapsable or hidden elements at start with Bootstrap (like basic collapsed panels or modal) it seems that the line-height calculation is returning a wrong 0 rather than the default Bootstrap value (aka34px).

Commenting line

[2015-05-06 15:13] chemerisuk commented on #46
@DaBourz thanks for reporting Stéphane. You could also override inline styles via `!important` without modification of the source. But I agree - this is a edge case that should be handled properly.

[2015-05-10 13:02] #41 closed

[2015-05-24 03:06] loganwedwards commented on #34
I apologize that this is way overdue, but after upgrading to 1.5.2, it seems the issue is resolved.

I don't need to trigger any special handlers, setup any watchers, etc... I may have had an old version of this library and or better-dom.

The syntax in the view is now simply:

[code]

Sorry for the trouble! Keep up the great work.

[2015-05-24 03:06] #34 closed

[2015-05-24 11:50] valthec opened #47 "Dates are missing when fast switching"
When you click fast on left or right arrows, bottom panel with dates may disappear and stay hidden until you reload whole page. I was able to replicate this issue on Internet Explorer 11 and Firefox 38.
![2015-05-24_134246](https://cloud.githubusercontent.com/assets/12583808/7787730/79e61cca-021b-11e5-9696-abf0d24447a6.png)
![2015-05-24_134234](https://cloud.githubusercontent.com/assets/12583808/7

[2015-05-24 13:28] chemerisuk commented on #47
@valthec there is such a bug indeed. I believe it will be fixed on better-dom side when version 3 will be released. In short the cause is using `requestAnimationFrame` for visibility methods in better-dom.

[2015-05-24 13:31] chemerisuk commented on #34
@loganwedwards do you have any idea what has changed in Angular 1.5.2? Does it trigger `change` events by itself after value was updated?

[2015-05-24 13:32] loganwedwards commented on #34
@chemerisuk Clarification, I upgrade better-dateinput-polyfill to 1.5.2.

[2015-05-24 13:34] chemerisuk commented on #34
@loganwedwards ah, yes. alright, cool then

[2015-06-30 00:57] LC43 opened #49 "Example isn't working at all"
Tried to update to the new version, but it doesn't trigger at all, just like the demo.

[2015-07-08 03:51] fagnercarvalho commented on #49
What browser you are using?
It seems to be working in both last version of Chrome and Firefox.

[2015-07-08 04:13] LC43 commented on #49
Hi and thanks for your help.

i'm using chrome Version 45.0.2438.3 dev (64-bit), on linux. it doesn't have any weird flag because i use it to test our websites.

[2015-07-08 04:28] fagnercarvalho commented on #49
I don't know for sure but I think it's suppose to be like this because the demo isn't forcing the polyfill from the plugin.
If you go [here](https://github.com/chemerisuk/better-dateinput-polyfill#custom-formats) and [here](https://github.com/chemerisuk/better-dateinput-polyfill#forcing-the-polyfill) you are going to see more about how to format the date and force the polyfill, respectively.
Oh, a

[2015-07-08 04:33] LC43 commented on #49
i though it was the other way around, that you can force having a *native* support:

_For example, the code below defines a dateinput that uses a native implementation on mobile phones, but ALL desktop browsers (even Chrome desktop) will have a consistent widget created by the polyfill._

`<input type="date" data-native="mobile" name="foo" value="bar">`

if you click onit, does it open the plugin'

[2015-07-08 04:38] fagnercarvalho commented on #49
Yes, it does. Using this code snippet I can see the plugin's calendar even in Chrome as was stated in the text above.

[2015-07-08 04:40] fagnercarvalho commented on #8
I was really needing this one :(

[2015-07-08 04:51] LC43 commented on #49
![screenshot-chemerisuk github io 2015-07-08 05-49-37](https://cloud.githubusercontent.com/assets/48201/8563301/2887684c-2535-11e5-841a-8aae94f1f8ae.png)

on firefox i get the plugin calendar and the placeholder is showing too.

[2015-07-08 04:56] fagnercarvalho commented on #49
Yep, same as me.
I think Firefox don't have full support for date input yet so that's why the plugin's polyfill is being used by default.

[2015-07-08 04:57] LC43 commented on #49
that makes sense!

so, how did you force it to show on chrome?

[2015-07-08 05:00] fagnercarvalho commented on #49
I use the ```data-native="mobile"``` property as I said before.

[2015-07-08 08:25] chemerisuk commented on #49
Read docs guys ;)

[2015-07-08 08:25] #49 closed

[2015-07-08 13:35] sgentile commented on #8
This would really solidify the polyfill   +1 !

[2015-07-08 13:37] sgentile opened #50 "Ability to type in values"
Since we can't easily change year - the native browser for chrome lets you type in a value  (ie. for a birthdate).

Is it possible with the polyfill to allow someone to type in the value ?   I tried on Safari desktop and it didn't allow this.

[2015-07-08 14:45] chemerisuk commented on #50
@sgentile yeah, I was thinking about this feature in the past. Since handling of text selection is quite tricky (and buggy) from browser to browser, I'd rather implement https://github.com/chemerisuk/better-dateinput-polyfill/issues/8 instead of allowing a user manual input.

Please don't ask me about estimates - not sure when I'll be back to Open Source... Quite busy this year with other stuff ;)

[2015-09-15 13:38] chrislachance opened #53 "IE9 & lower not working"
Just an FYI on the demo provided, IE9 is throwing a "Unable to get property 'split' of undefined or null reference" on File: better-dom.js, Line: 84, Column: 45. Nothing appears in the input field because of that.

IE8 is throwing a "Object doesn't support property or method 'addEventListener'" on File: better-dom.js, Line: 512, Column: 21, but does display the default date.

[2015-09-15 15:37] chemerisuk commented on #53
@chrislachance True, online demo does not work in IE<10 because of CORS, but the polyfill does work in that browsers locally, if you add extra files (https://github.com/chemerisuk/better-dom#notes-about-old-ies).

[2015-10-02 17:52] dlsso commented on #47
Seems like switching month shouldn't be based on animation frame. Some more details in case they are helpful:

It's the first click that matters. If you wait for half a second after the first click you can click as fast as you want without breaking it. Otherwise the 3rd click will hide the days.

[2015-10-16 15:13] cstorey opened #55 "Timezone confusion"
Issue #9 implies that there has been some confusion over time-zones. We're seeing the exact same issue, but because we're on BST (+01:00), we're not seeing great results.

Helpfully, we're only seeing this on Chromium versions between `v46.0.2454.13` and `48.0.2536.0`, wheras `48.0.2537.0` and `v46.0.2454.13` fail.

For example, if we instantiate a element with `max=2015-10-16`; then when it comes

[2015-10-19 09:45] cstorey opened #56 "Calendar panel vanishes when changing month quickly"
There basically seems to be a race condition in the post-transition handler in https://github.com/chemerisuk/better-dateinput-polyfill/blob/08b15d52ecf7b1654ef60e1bac63295137174262/src/main.js#L133 . So, because the code ends up re-using the same two chunks of dom, swapping them each time you switch month, it's possible to end up with an event sequence roughly like:

[code]

[2015-10-22 15:00] gergderkson commented on #55
+1 also being affected by this. Any updates on it?

[2015-10-23 22:27] chemerisuk commented on #55
@cstorey when `Date` constructor argument is an ISO string, then UTC timezone is used (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse). Therefore I didn't fully understand your use case. Could you describe it in more details?

[2015-10-23 22:27] chemerisuk commented on #56
Is it a duplicate of https://github.com/chemerisuk/better-dateinput-polyfill/issues/47?

[2015-12-09 20:26] loganfranken opened #58 "Text color stays transparent for hidden inputs"
This is extremely specific, but:

If you have a `input[type="date"]` that is initially hidden and is only revealed *after* the polyfill has initialized, then the text color will remain transparent upon selecting a date.

Here's a demo of this:
https://jsfiddle.net/mahvfon2/2/

For the real world context: I have a page with tabs that the users can click to show/reveal different panes of content. Th

[2015-12-10 08:57] chemerisuk commented on #58
@loganfranken nice bug indeed. I'd recommend to use visibility:hidden in your case if possible that should solve the problem too.

[2015-12-15 17:20] md5 opened #59 "Support for input[type=month]"
Do you have any plans to support `<input type="month">`? I naively used this polyfill thinking it would support `month` fields, but it looks like it doesn't. I think you've done a great job otherwise, but I need to figure out whether we need to switch to a different polyfill with `month` support.

[2015-12-15 23:38] chemerisuk commented on #59
Hi @md5 . I think it can be done in scope of https://github.com/chemerisuk/better-dateinput-polyfill/issues/8 thought not sure when I'll back to Open Source... May be next year :)

[2015-12-16 00:59] md5 commented on #59
Thanks. I appreciate your response nonetheless.

[2015-12-21 21:30] md5 commented on #8
@BrodaNoel I see you have a branch or two where you started working on these changes (e.g. https://github.com/chemerisuk/better-dateinput-polyfill/compare/master...BrodaNoel:new-feature-change-month-and-year). It looks like you haven't worked on it for a few months, but I wanted to check whether you think this is something you might work on again in the near future.

[2015-12-22 21:17] md5 opened #60 "Trailing period on "MMM" months"
The docs don't mention that there is a trailing "." on `MMM` values, but it's hard coded in `main.js`. It would be great if there were a way to omit this period.

[2016-01-11 11:49] mnebuerquo commented on #8
I want to use this for users to enter their birthdate when creating an account. This is so I can prevent children under age 13 from joining the site because of [COPPA](http://www.coppa.org/) rules. Until this widget allows easy year selection I'll have to use something else.

Other than the year selection being difficult, I like this widget. It looks nice and it's easy to add to an app. Keep being

[2016-01-11 12:46] sylvainpolletvillard commented on #58
Have the same issue when using the polyfill within an Angular component

[2016-01-23 10:00] chemerisuk opened #61 "Move date formatting logic into a separate project"
https://github.com/chemerisuk/better-time-element

[2016-01-24 17:42] #61 closed

[2016-01-26 19:35] talss89 commented on #58
I had the same issue, using the polyfill in an Angular view. There's a CSS solution to this; set a z-index on `.btr-dateinput-value`. I think the actual input colour *should* remain transparent.

I'm using Bootstrap 3.x, and the following worked for me.

[code]

I'm not sure if '3' should be the final z-index value in the packaged CSS (otherwise I'd make a pull request), but it's along the right l

[2016-02-15 22:39] mheiber opened #62 "NPM version?"
Could you make a version for NPM for use with Webpack and Browserify?

[2016-02-15 22:40] mheiber opened #63 "NPM version?"
Nice polyfill! Could you distribute this as a node module on NPM for use with Webpack and Browserify?

[2016-02-18 15:59] chemerisuk commented on #62
@mheiber Planned in version 2

[2016-02-18 16:00] chemerisuk commented on #63
Duplicates https://github.com/chemerisuk/better-dateinput-polyfill/issues/62

[2016-02-18 16:00] #63 closed

[2016-02-23 14:29] niyando opened #64 "Selecting year"
Hi,
Thanks for this great polyfill.

So I am using this to let my users pick their dob. Its really hard to navigate to a particular year (eg 1988). The only way you could do that right now is by going through all the months and years.

You also can't just type it out on safari desktop (like chrome).
Would appreciate any help.

[2016-02-23 14:31] niyando commented on #64
didn't realize there are similar issues
https://github.com/chemerisuk/better-dateinput-polyfill/issues/8

Apologies for opening this up.

[2016-02-23 14:31] #64 closed

[2016-03-04 15:44] TheLarkInn commented on #62
+1 Would be nice to have this as an NPM module. :-D

[2016-03-04 16:31] TheLarkInn opened #65 "Bower Install Failing from github ref"
When I attempted to install using:

`bower install better-dateinput-polyfill`

I got the following error:

[code]

Attached below is a copy of the console error.

![screen shot 2016-03-04 at 10 31 28 am](https://cloud.githubusercontent.com/assets/3408176/13533035/32b98436-e1f4-11e5-8bbc-eb5be0d22e64.png)

[2016-03-04 16:32] TheLarkInn commented on #65
Does this maybe need to use the `https:` git url.

[2016-03-13 07:34] #56 closed

[2016-03-22 16:47] whizz-shumphrey opened #66 "IE Placeholders disappearing"
In IE (tested through browserstack) my placeholders are disappearing. Is that expected?

[2016-04-06 20:14] chemerisuk commented on #66
@whizz-shumphrey which IE version do you use?

[2016-04-06 20:17] chemerisuk commented on #55
@cstorey true, faced that bug as well. Fixed in https://github.com/chemerisuk/better-time-element which the next version will depend on.

[2016-04-06 20:17] #53 closed

[2016-04-06 20:18] chemerisuk commented on #65
@TheLarkInn I believe you had an issue with internet connection.

[2016-04-07 08:57] 0xFEEDC0DE64 opened #67 "Picker not showing on dynamically created input"
I create a form dynamically using javascript and I use bootstrap.

input[type=date] is not showing a picker (tested in Firefox and Internet Explorer 11).

![issue_1](https://cloud.githubusercontent.com/assets/10342708/14345823/72c24c36-fcaf-11e5-93ca-71d22ce9d03e.PNG)
![issue_2](https://cloud.githubusercontent.com/assets/10342708/14345824/7506924a-fcaf-11e5-8189-ebaa2c0bf131.PNG)

[2016-04-07 12:52] chemerisuk commented on #67
@0xFEEDC0DE64 would you mind to setup a demo page on jsbin/fiddle etc. to investigate the issue? Thanks

[2016-04-07 13:38] #47 closed

[2016-04-09 10:39] chemerisuk commented on #8
Implemented in ecf60ef0f8e7a36111140fcae5ad110077503029

[2016-04-09 10:39] #8 closed

[2016-04-09 10:39] chemerisuk commented on #55
Fixed in ecf60ef0f8e7a36111140fcae5ad110077503029

[2016-04-09 10:39] #55 closed

[2016-04-09 10:48] chemerisuk opened #68 "Update docs for version 2"
- [x] document `data-polyfill` attribute
- [ ] document relation to the `better-time-element`

[2016-04-09 10:51] #65 closed

[2016-04-09 10:55] chemerisuk commented on #59
@md5 we could add support for `[type=month]` in version 2... Do you need in your case the ability to limit input to months only?

[2016-04-09 14:28] md5 commented on #59
No, we were looking for Month+Year

[2016-04-09 18:38] chemerisuk commented on #59
Alright, then I believe the feature https://github.com/chemerisuk/better-dateinput-polyfill/issues/8 should solve your problem too.

[2016-04-09 18:38] #59 closed

[2016-04-10 12:59] #58 closed

[2016-04-10 13:00] #46 closed

[2016-04-10 13:03] chemerisuk commented on #60
@md5 hm, for displayed values months do not have the dot suffix (https://github.com/chemerisuk/better-time-element/blob/master/dist/better-time-element.js#L133). On the other case I'm not sure if understood your issues correctly...

[2016-04-10 15:45] md5 commented on #60
Does that rely on calling `DOM.set("lang", "en")` somewhere? It's been a while since I encountered this issue, but I believe we were seeing a trailing period on the short month names.

[2016-04-10 16:28] chemerisuk commented on #60
If you have `<html lang="en">` you don't need to call `DOM.set("lang", "en")`. Languages like `en_US` should work properly as well.

[2016-04-11 15:30] #66 closed

[2016-04-11 15:36] chemerisuk commented on #62
v2.0.0-rc.2 was published to NPM https://www.npmjs.com/package/better-dateinput-polyfill

[2016-04-11 15:36] #62 closed

[2016-04-12 08:29] LBreda opened #69 "Incompatibility with jQuery show/hide"
Hi,

This is probably not a bug, but maybe someone can help me about it.

I'm using better-dateinput-polyfill in a complex form. Some of the date fields are conditiolally shown/hidden with the jQuery .show() and .hide() methods.

better-dateinput-polyfill seems to be incompatible with these methods: after I .show() a date input, it does not show the date. Is there a workaround?

[2016-04-12 10:58] chemerisuk commented on #69
@LBreda could you try to upgrade the polyfill to version 2 and check if it helps to solve the problem. There were some enhancements made related to hidden dateinput fields.

[2016-04-12 12:17] LBreda commented on #69
I tried the last RC just before my message. It does not show the month, and
it doesn't show the date. O__o

[2016-04-12 13:14] chemerisuk commented on #69
@LBreda have you included all required script files? There is one more dependency in version 2 on better-time-element

[2016-04-12 13:18] LBreda commented on #69
@chemerisuk I included better-emmet-plugin and all of the required files for the stable version. I now solved the issues moving the fields on a negative absolute position instead of hiding them. It's a ugly workaround, but it is working.

[2016-04-12 20:45] chemerisuk commented on #69
@LBreda would you mind to setup a demo with your use case on jsbin/fiddle? I could look at the problem then.

[2016-04-13 08:08] LBreda commented on #69
Uhm, I could not reproduce the exact behavior on jsfiddle (it requires a lot of garbage). This fiddle has a related behavior, thoug: https://jsfiddle.net/lbreda/vtpptvme/4/

If I populate one of the two fields, and I change the field I show, the other field seem populated too. It seems that it still show the "polyfill part" of the field, while changing the fake input on the background.

[2016-04-13 10:26] chemerisuk commented on #69
@LBreda okay, I think the issue is clear for me. The polyfill adds extra HTML into markup, so if you call `$("[type='date']").hide();` then you only hide the actual input without those extra HTML elements added by polyfill. That why you might have the confusion.

[2016-04-13 10:36] LBreda commented on #69
OK. What is the actual element to .hide()?

Il giorno mer 13 apr 2016 alle ore 12:27 Maksim Chemerisuk <
notifications@github.com> ha scritto:

[2016-04-13 13:28] chemerisuk commented on #69
Something like below should work:
[code]
Check out the demo: https://jsfiddle.net/vtpptvme/7/

[2016-04-13 14:53] LBreda commented on #69
It works.

The real thing was a little more complicated, tough, as I was using
bootstrap and its row/col system. If I use show/hide on a row containing
the date input, it does not work.

[2016-04-13 14:58] #69 closed

[2016-04-13 17:08] md5 commented on #60
Thanks @chemerisuk

[2016-04-13 17:08] #60 closed

[2016-04-15 16:38] LBreda opened #70 "Ability to clear the field"
Is there a way to clear the field after selecting a date? Something like the small "x" you can find in the Chrome datepicker.

[2016-04-16 10:53] chemerisuk commented on #70
You can use BACKSPACE/DELETE key to clear current value. Though I've noticed at present it only clears current selection in calendar but not the input value, will be fixed in the next version. Adding a separate clear button is a nice to have feature, not for release 2 I think.

[2016-04-17 13:07] chemerisuk commented on #70
Published fix in better-time-element, so BACKSPACE/DELETE keys work properly now. Check demo at http://chemerisuk.github.io/better-dateinput-polyfill/

[2016-04-18 09:00] LBreda commented on #70
It works pretty good, thank you very much. It introduced a new error, tough. If I click on the current month to change it, I get this: http://imgur.com/ZoSDDax

[2016-04-19 11:10] chemerisuk commented on #70
@LBreda hm, I can't figure out steps to reproduce the issue. Have you updated all related plugins? Does the bug exist on the online demo as well?

[2016-04-19 11:15] LBreda commented on #70
Yes, the bug exists on the online demo as well. I get it on Firefox, both on the Debian and Windows versions.

Screenshot: http://imgur.com/dpquijp

[2016-04-19 11:30] chemerisuk commented on #70
Alright, I think I got it. Should be fixed in v2.0.0-rc.4 :)

[2016-04-19 11:31] LBreda commented on #70
Thank you!

Il giorno mar 19 apr 2016 alle ore 13:30 Maksim Chemerisuk <
notifications@github.com> ha scritto:

[2016-04-21 09:29] chemerisuk commented on #50
I like how Chrome solves the problem in their implementation:

<img width="144" alt="screenshot 2016-04-21 12 27 37" src="https://cloud.githubusercontent.com/assets/274044/14704305/a38f3dca-07bc-11e6-9237-facc148a53d6.png">

May be we could schedule this feature for 2.1.

[2016-04-21 09:31] chemerisuk commented on #67
@0xFEEDC0DE64 could you check if version 2 works on your side?

[2016-04-22 18:42] cbillen opened #72 "Input picker offsets day picked by -1"
On your demo page
http://chemerisuk.github.io/better-dateinput-polyfill/

Using Safari 9.1 or Chrome 49 on Mac OS X 10.11

If I pick any date, say September 1st 2000, then the date rendered in the picker is August 31, 1999

What could be causing this?

[2016-04-23 12:39] chemerisuk commented on #72
@cbillen Hi. What is your time zone?

[2016-04-24 17:08] cbillen commented on #72
GMT-6 Chicago CST

[image: WarmlyYours] <http://www.warmlyyours.com>
[image: Facebook] <http://www.facebook.com/warmlyyours> [image: Twitter]
<http://www.twitter.com/warmlyyours> [image: LinkedIn]
<http://www.linkedin.com/company/warmlyyours>
Christian Billen
Director of IT
*P:* (800) 875-5285 x 800 *F:* (800) 408-1100
Tell us how we're doing
<https://www.warmlyyours.com/survey/customer-satisfacti

[2016-05-13 02:54] tomhicz commented on #68
Are better-time-element and better-emmet-plugin needed? If so, which versions?

They are mentioned in the docs, but weren't downloaded by "bower install better-dateinput-polyfill".

Installing them standalone through bower leads to a bunch of version conflict choices as different versions are required by different modules, so right now I'm getting javascript errors and obviously made bad choices.

[2016-05-13 03:34] tomhicz commented on #68
Ah, ok, I've worked it out. bower is installing an older version that doesn't match the one in the docs. Hence only
<script src="bower_components/better-dom/dist/better-dom.js"></script>
<script src="bower_components/better-i18n-plugin/dist/better-i18n-plugin.js"></script>
<script src="bower_components/better-dateinput-polyfill/dist/better-dateinput-polyfill.js"></script>
is needed, but the data-p

[2016-05-13 03:58] tomhicz opened #73 "Calendar positioned OVER input on firefox, but under on chrome?"
I've added the 2.0.0-rc.4 to my form, and it seems to work in both firefox and chrome on desktop.

In chrome the calendar box is usually positioned under the input, but moves above when there is no space. However in firefox the caledar box seems to be always positioned above the input, even when there is no reason or no space.

The demo page works correctly in both browsers, so I'm not sure what t

[2016-05-13 04:02] tomhicz opened #74 "Positioning goes weird if the Label element is wrapped around the Input element"
AFAIK, there are two valid ways to use the html Label element.

The first is to have a label element with a for="id" attribute pointing to the input element. That seems to work fine.

The second is to have the Label element simply wrapping the input element. When I tried that the positioning was all screwy.

[2016-05-13 22:10] chemerisuk commented on #68
@tomhicz thank for the notice. The version 2 will be released soon, and it should solve confusion in the docs.

[2016-05-13 22:12] chemerisuk commented on #73
@tomhicz could you paste your HTML?

[2016-05-14 00:04] greenyouse opened #75 "UNIX epoch is invalid"
Hi, I noticed that entering 1970-01-01 made the input use the current date. There were a few checks that used `.getTime()` which would fail if the UNIX epoch was used since the result would be 0, which is false.

https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/src/main.js#L87

I can send over a pull request if this looks OK to change.

[2016-05-14 05:59] chemerisuk commented on #75
Please do. It seems like you just need to use 'isNaN' instead of that falsy check: http://stackoverflow.com/questions/1353684/detecting-an-invalid-date-date-instance-in-javascript

[2016-05-15 11:35] erfanimani commented on #68
Thanks for that @tomhicz

[2016-05-15 13:19] #72 closed

[2016-05-15 13:32] chemerisuk commented on #68
Version 2.0.0 should be available at bower now.

[2016-05-15 13:32] #68 closed

[2016-05-15 13:33] chemerisuk commented on #72
The bug was fixes in version 2

[2016-05-15 13:33] #67 closed

[2016-05-16 07:56] chemerisuk commented on #75
Fixed in https://github.com/chemerisuk/better-dateinput-polyfill/pull/77

[2016-05-16 07:56] #75 closed

[2016-05-23 13:05] tomhicz opened #79 "Day that is shown is one off."
I've had reports from a website that I used the polyfill on that the Day is shown as being the wrong day by one.
Eg, if the 23rd is actually a Monday then the day is shown as a Sunday. (Or possibly a Tuesday, I'm waiting on more information).

[2016-05-23 21:55] AlexDubstone opened #80 "Changing date with javascript / jQuery"
Hey Maksim,

I'm using version 2.0.0 and am trying to build a range picker with two date inputs. I can change the value of the second input, but unfortunately is does not get shown. Is there any documentation or example on how to change the date correctly?

Regards
Alex

[2016-05-24 07:25] chemerisuk commented on #80
@AlexDubstone try to trigger the `change` event to update visible value.

[2016-05-24 10:03] AlexDubstone commented on #80
I created a Plunkr to show what I am doing. If I change the value to '2014-01-01' the datepicker starts in 2014 but it is not visible in the input field.

http://plnkr.co/edit/Y2DKmiTst4jwTEdMt8gX?p=preview

[2016-05-25 12:14] chemerisuk commented on #80
@AlexDubstone okay, I got it now.

The problem is that jQuery uses it's own internal event system, unlike better-dom that just provides syntax sugar on browser's events. Therefore we can't use jQuery to trigger `"change"` event. Instead you can use code like below:

[code]

This line gets `$Element` wrapper for a vanilla DOM element and triggers native event for the document. I'll probably take a

[2016-05-25 14:47] AlexDubstone commented on #80
Oh I see. Thank you a lot for the explanation why it didn't work the way I tried. :+1:  This solves the issue.

[2016-05-27 05:13] tomhicz commented on #73
The following (inside a form) makes the popup always appear above the box in firefox:

`                    <label>Departure time:
                    <select name="Departure time" size="1">
                        <option value="" selected>(Select departure time)</option>
                    </select></label>

                    <label for="departuredate">Departure date:</label>

[2016-06-03 14:38] antoineleclair commented on #79
I have the same issue.

The problem seems to be coming from the `is="local-time"` of the underlying `<time>` element.

For example, I'm in Eastern Time (GTM-04:00), so a UTC datetime of 2016-01-01 is converted to 2015-12-31 20:00:00, which shows up as 2015-12-31.

https://github.com/chemerisuk/better-dateinput-polyfill/blob/9166798784ae63dc9628fc11b4d8f190918e662f/src/main.js#L12

I'm not sure wha

[2016-06-03 15:42] antoineleclair commented on #79
For now, I added a work around that looks like that

[code]

[2016-06-05 12:48] Pfiver opened #81 "Bad interacion between 2 date input fields on Safari 9.1.1 (11601.6.17) w/ MacBook Pro Mid 2015"
Does _not_ happen on _my_ MacBook (Mid 2012) w/ identical Safari Version.

When you change the date on _one_ input field and then select the _other_ one, the two pickers open and close alternatingly in quick succession (10+ Hz).

[Here](https://youtu.be/pzvgwsn8bso) is a video. There is a "sync" logic script that _might_ interact with this bug as well, but I am suspecting that it does not.

To rep

[2016-06-05 13:03] Pfiver commented on #81
As assumed, the sync script does _not_ trigger the bug. After disabling it the bug flickering pickers are still there. Not sure how to start debugging this now and not much time. Any ideas?

[2016-06-05 13:39] Pfiver commented on #81
Well, it must be some "event" stuff of course and looking at the code I found some suspicious looking potential candidate code passage for causing this issue. After removing it, the issue is gone, thus I will apply that as a work-around for now.

[code]

[2016-06-10 02:50] tomhicz commented on #79
Seems like the issue might have been identified, but I've uploaded a screenshot to illustrate the issue more clearly anyway:
![date-one-off](https://cloud.githubusercontent.com/assets/999194/15953007/fcf6e596-2f00-11e6-8076-5b60db76fdbd.png)
As you can see, the text in the box shows the correct day/date of Thur 26th may, but the pop-up calendar shows Thursday as being the 27th may.

I don't have a

[2016-06-26 17:03] #70 closed

[2016-07-14 04:58] tomhicz commented on #79
What are the odds of this getting fixed in the main code in the next couple of weeks?
I can try the workaround posted above, but since I have no easy way of checking if it works (as there are no issues in my timezone) I'd prefer an official fix.

[2016-07-14 12:26] chemerisuk commented on #79
@tomhicz sorry for a long reply. Just to make sure, which version do you use? Is it the latest one? I remember making fixes for the similar case in the past.

[2016-07-14 12:39] antoineleclair commented on #79
I'm using 2.0.0.

[2016-07-15 10:52] chemerisuk commented on #79
@antoineleclair I've switched to GTM-04:00 locally, and can't reproduce the issue. The fix was done in https://github.com/chemerisuk/better-dateinput-polyfill/issues/72. Please make sure you have the latest version 2 (not rc).

[2016-07-15 15:13] antoineleclair commented on #79
@chemerisuk You're totally right. I removed the workaround I had and it seems to work fine. I must have been using an old version on June 3rd, when I left my first comment.

@tomhicz Can you confirm the issue is gone in 2.0.0?

[2016-07-22 16:37] tomascharad commented on #43
Hi guys, it would be very nice if you could make your poly compatible with react.
Many thanks!
Let me know if I can help.

[2016-07-28 07:34] rafis opened #82 "Hide animation is not nice"
Hide animation is:
1. Too fast
2. Not nice, pathetic

Is it possible to replace it with animation from [Air Datepicker](http://t1m0n.name/air-datepicker/docs/index.html)? But this will require also to change show animation as they are always come in pair.

[2016-07-29 12:36] chemerisuk commented on #82
You can override default animation in CSS (https://github.com/chemerisuk/better-dom/wiki/Declarative-animations) by customizing `.btr-dateinput-calendar` +  `.btr-dateinput-calendar[aria-hidden=true]`

[2016-08-01 07:05] rafis commented on #82
Thank you, I will look into this.

[2016-08-01 07:10] rafis opened #83 "How to change value programatically?"
I have tried following, but it seems doesn't work. Through according to [documentation](https://github.com/chemerisuk/better-dom/wiki/Getter-and-setter) it should.

    var dateInput = document.querySelectorAll('input[name="date"]')[0];
    dateInput.value = '2016-08-01';

Also I have tried to trigger 'change' event:

    triggerEvent(dateInput, 'change');

    function triggerEvent(element, event

[2016-08-01 08:36] rafis commented on #82
As have seen seems your datepicker has ability to be shown from top and be shown from bottom. But seems this option is stored somethere in internal variable and not exposed as class near `.btr-dateinput-calendar`?

[2016-08-01 10:13] rafis commented on #83
Solved by `dateInput.setAttribute('value', '2016-08-01');`.

[2016-08-01 10:13] #83 closed

[2016-08-02 08:01] chemerisuk commented on #83
@rafis please read my comments at https://github.com/chemerisuk/better-dateinput-polyfill/issues/80 - they can be useful

[2016-08-06 07:06] chemerisuk commented on #82
@rafis correct, I set 'margin-top' depending of viewport in js https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/src/main.js#L281

[2016-08-09 10:15] readonemohamed opened #84 "Language Support"
How many languages besides english are supported?

[2016-08-09 12:01] chemerisuk commented on #84
As far as I see 10 languages are supported.

https://github.com/chemerisuk/better-time-element/tree/master/i18n

But it's quite easy to add a new into this list on demand.

[2016-08-11 13:21] tomhicz commented on #79
Sorry to take a while to get back to you, I was focussed on other projects.

Just to confirm that it seems to work fine on the release version. I'm not quite sure why I was on the rc version... either just bad timing just before release or the bower version or instructions not having been updated at the time of download.

Thanks for all the hard work!

[2016-08-11 13:51] chemerisuk commented on #79
Alright, closing the issue then. Thanks everybody.

[2016-08-11 13:51] #79 closed

[2016-08-11 21:10] tim-field opened #85 "Uncaught TypeError: Cannot read property 'lang' of null"
Above error is raised in chrome ( latest at least )

From here.
https://github.com/chemerisuk/better-dateinput-polyfill/blob/v2.0.0/dist/better-dateinput-polyfill.js#L19

Reproduce like so in the console
`window.DOM.get('documentElement');`  -> null

`window.DOM.get('documentElement').lang;` triggers above error.

[2016-08-24 21:39] adear11 commented on #74
I'd like to +1 this issue.

I have the same problem after doing a clean
`bower install  better-dateinput-polyfill`

The versions installed are:
[code]

My HTML looks like this:
[code]

The rendered calendar looks like this:

<img width="689" alt="screen shot 2016-08-24 at 4 26 17 pm" src="https://cloud.githubusercontent.com/assets/2657916/17948687/7ac1ccf6-6a17-11e6-8b64-6bdcc551e70a.png">

And wh

[2016-09-27 15:30] digitalheir opened #86 "Setting the value programatically"
I've noticed that setting `value` on the input field does not automatically change the value in the polyfill. Is this possible?

[2016-09-27 15:36] #86 closed

[2016-10-16 10:39] #84 closed

[2016-10-29 22:37] Brookke commented on #85
I am also getting this issue simply doing DOM.get("lang") seems to get the Lang

[2016-10-29 23:06] Brookke commented on #74
Having the same issue

[2016-11-01 21:51] Frank3K opened #87 "Label is not cleared when input is cleared programmatically"
The `<time>`-label is not cleared when the `input[type="date"]` is cleared programmatically.

Reproduction scenario (tested on Chromium 53.0.2785.143):

1. Open the [demo](https://chemerisuk.github.io/better-dateinput-polyfill/).
2. Open the browser console and enter:

[code]

Result: the label is not cleared.

[2016-11-02 13:08] chemerisuk commented on #87
@Frank3K already fixed in master. I'll publish a bugfix version soon

[2016-11-02 14:13] chemerisuk commented on #74
The cause of problem is that the picker adds extra `<div>` which is a block element. And `<label>` is an inline element. It could be tricky to fix this issue...

[2016-11-02 14:16] chemerisuk commented on #87
The fix was published in 2.0.1

[2016-11-02 14:16] #87 closed

[2016-11-23 21:29] davidham opened #88 "'peerinvalid' errors when installing with npm"
I have a project that uses Webpack for JS management. When I try to install better-dateinput-polyfill with `npm install better-dateinput-polyfill --save-dev`, I get the following error:
[code]
Looks like the 3.0.0-rc.1  does not satisfy the version requirements for the other three, somehow?

[2016-12-09 22:07] c0achmcguirk opened #89 "Emmet not required anymore, update README"
In the README it requests that you include /better-emmet-plugin/dist/better-emmet-plugin.js, but that requirement was removed on November 2.

Update the README to remove that line.

[2016-12-12 09:48] #89 closed

[2017-01-19 14:35] asokoloski opened #93 "bower installation fails due to invalid version dependency of better-dom"
Hi chemerisuk,

I'm getting an error running "bower install better-dateinput-polyfill" -- see below:
Maybe it's a quick fix?

Thanks,
Aaron
P.S this looks like a great project!

[code]

[2017-01-22 16:01] chemerisuk commented on #43
Okay, I've implemented PoC for a new approach to sync visible and serializable values https://github.com/chemerisuk/better-dateinput-polyfill/commit/0a9867ecd9e3fc1485a63326ebef6ff36a632524. This one uses overriding of the `value` property for the input and does not rely on any events. The logic is much cleaner now. Checked in Safari/Chrome/Firefox - works smoothly, should work in IE9+. I'll proba

[2017-02-17 11:57] CyrilWork commented on #85
I am not sure if it will work with your case but you can set the lang in the html tag inside your html like this `<html lang="en">`

[2017-03-10 05:15] parthivshah91 opened #94 "Getting error while running test Task"
Hi
The plugin is working fine. However, when I cloned repository and executing test task without modification of any code, I am getting below error:

PhantomJS 2.1.1 (Windows 8 0.0.0) ERROR
  TypeError: undefined is not an object (evaluating 'DOM.get')
  at http://localhost:9877build/better-dateinput-polyfill.js:8

[10:41:29] 'test' errored after 3.85 s
[10:41:29] Error in plugin 'karma'
Message:

[2017-03-10 07:33] chemerisuk commented on #94
Hi @parthivshah91. I believe the problem is because of invalid version of better-dom. Fixed in dd47dd1b0d6b2b59ce0fd083582ded7e441f4755

[2017-03-10 07:35] parthivshah91 commented on #94
I missed bower install ( It would be great if it is mentioned in contrib doc ).

[2017-03-10 07:35] #94 closed

[2017-03-10 08:57] parthivshah91 opened #95 "valueAsDate is not setting value to date input"
Hi chemerisuk,
In my project, we are binding valueAsDate to input type=date. In this case, valueAsDate is not setting value to input field (default value is set from value only). and upon datepicker's date selection it's not setting valueAsDate as it's only setting value property. Maybe it's a quick fix.

Thanks,
Parthiv

[2017-03-12 17:26] chemerisuk commented on #93
@asokoloski should be fine now I guess - better-dom 3.0.1 was released some time ago. Though I haven't had your issue in the past...

[2017-03-12 17:27] chemerisuk commented on #85
@tim-field it looks like you do not have all dependencies downloaded

[2017-03-23 06:23] sbibauw opened #97 "Input doesn't show date (transparent) when controlled by Bootstrap"
In my form, when the input `class` is controlled by Boostrap 3.3.7 (e.g. `form-control`, or `col-xs-2`...), the date doesn't appear (it remains transparent, even though it is well recorded when submitting the form). The datepicker works well (appears on front).

    <input type="date" data-format="d MMM yyyy" class="form-control" name="date1">

![screenshot](https://cloud.githubusercontent.com/ass

[2017-04-03 17:25] #93 closed

[2017-04-03 17:26] chemerisuk commented on #88
Check version 3.0.1

[2017-04-03 17:26] #88 closed

[2017-04-09 16:26] 0xFEEDC0DE64 opened #98 "Datepicker drawn under other input fields"
I am experiencing an issue when my following inputs have a bootstrap addon.

This does not happen without the addon suffix!

![image](https://cloud.githubusercontent.com/assets/10342708/24838945/f4f0b47c-1d51-11e7-8192-74fda4f60acb.png)

[2017-04-18 08:28] alantrick commented on #98
The calendar is created with a z-level of 1, so anything that has a higher z-level will cover it up. I just encountered this with bootstraps "navbar-static-top" class.

[2017-05-29 17:07] Sigma-90 opened #100 "Datepicker does not reset correctly / No distinction between today's date and selected date"
I just ran into a problem that happens when the form that contains the date field gets cleared (something that happens very regularly in one-page web applications but sometimes even on regular forms - input[type="reset"] exists for a reason). Even forcing the change event after the date field was emptied with DOM.constructor(jQueryObject[0]).fire('change') had no result. I was able to at least rem

[2017-06-13 14:49] FeetInAncientTime opened #101 "Datepicker min and max values are not correctly updated."
Hello,
I've noticed a problem with the _min_ and _max_ values on the displayed date picker control.  From what I can see, if the attributes _max_ or _min_ are updated via javascript then these changes are not propagated to the date picker.  Please note, however that the initial values are correctly taken into account.

I've created a simple example to illustrate the problem :

- https://jsfiddle.n

[2017-06-19 14:24] badjilounes opened #102 "How to upgrade your awesome dateinput polyfill to select a period of time instead of only one date ?"
Hi,

I've been using your dateinput polyfill for 6 months and I have a new feature to develop which deals with dates.This is the reason why I would like to modify you dateinput polyfill.

The feature I need to develop is about handling a period of time (just one begin and one end date), but I don't know where I should start.

Let's start with UX Design.

I would like to show only one calendar on w

[2017-08-16 09:02] renegeuze commented on #73
In ` if (HTML.clientHeight < offset.bottom + pickerOffset.height) {` offset.bottom includes the scroll position(see better-dom.js)
If it would just use `getBoundingClientRect().bottom` it would actually work.

The reason it works in the demo - it's not a high enough page to scroll.

[2017-11-28 13:22] tmcdos commented on #74
There is also another problem - since the DIV for the calendar is absolutely positioned, this requires that the wrapping container must be relatively positioned. Otherwise you will see the following
![shot-2](https://user-images.githubusercontent.com/19253115/33321795-9259ad86-d44f-11e7-9bdc-94e2088e02d5.png)
![shot-3](https://user-images.githubusercontent.com/19253115/33321807-9ac297bc-d44f-11e7-

[2017-12-11 09:58] juriejan opened #104 "Extended constructor for date input sometimes runs before CSS for the element is loaded"
Extended constructor for date input sometimes runs before CSS for the element is loaded, causing the CSS extracted and applied to the label element to be incorrect. I've implemented an interrim fix for this by reapplying the CSS on in '_syncValue' but believe there could be a better solution recommended someone more involved in the project.

[2018-05-17 01:03] N30 opened #105 "Issue with US variant for days of week"
US variant for days of week was implemented to be supported but the documentation states to use <html lang="en-US"> when the code only works with "en_US".

[2018-06-08 13:26] chemerisuk commented on #43
Should be fixed in version 3

[2018-06-08 13:26] #43 closed

[2018-06-08 13:27] chemerisuk commented on #80
Should be fixed in version 3

[2018-06-08 13:27] #80 closed

[2018-06-08 13:28] #95 closed

[2018-06-08 13:29] chemerisuk commented on #97
Should be fixed in version 3

[2018-06-08 13:29] #97 closed

[2018-06-08 13:30] #98 closed

[2018-06-13 18:02] chemerisuk commented on #50
No go because of approach used in version 3 to customise presented value

[2018-06-13 18:02] #50 closed

[2018-06-13 18:03] #82 closed

[2018-06-13 18:04] #85 closed

[2018-06-13 18:06] chemerisuk commented on #100
Version 3 uses ‘aria-*’ attributes instead of classes to highlight picker cells appropriately

[2018-06-13 18:06] #100 closed

[2018-06-13 18:07] #104 closed

[2018-06-14 09:36] chemerisuk commented on #105
Fixed in 3.0.0-rc.2

[2018-06-14 09:36] #105 closed

[2018-08-01 11:23] Teamop opened #106 "V3 doesn't work in IE 11"
### Reproduce step:
Just open the demo in the repo in IE 11, the datepicker cannot be popped up and it's totally blank, even input something in the input, just blank and cannot see anything except the cursor moving.

[2018-08-30 12:01] parthivshah91 commented on #95
I tried version 3. However, issue is not resolved. I have attached demo file for your reference.
[index.zip](https://github.com/chemerisuk/better-dateinput-polyfill/files/2336054/index.zip)

[2018-08-30 12:08] parthivshah91 opened #107 "valueAsDate is not setting value to date input and valueAsDate returns null instead of Date Object"
I am not able to set date using valueAsDate property and valueAsDate does not return valid Date Object.
I have attached demo file for the reference.
Duplicate of #95
[index.zip](https://github.com/chemerisuk/better-dateinput-polyfill/files/2336074/index.zip)

[2018-09-16 12:53] abaranovskii opened #109 "_isNative method removes initial value"
Trying the polyfill in Safari on MacOS without setting data-polyfill attribute I've found that the source value is being replaced with "_" value. After quick investigation I figured out that this happens in [`_isNative`](https://github.com/chemerisuk/better-dateinput-polyfill/blob/master/src/main.js#L182) method:
[code]
I believe this is wrong behaviour as initial value is being lost.

[2018-09-26 18:27] TylerRick commented on #106
Ouch. Just got bit by that too. Defeats the purpose of this polyfill if it doesn't work on IE11... :disappointed:

Any ideas how to fix?

[2018-09-26 18:57] TylerRick commented on #106
I also tried the latest v2 (https://github.com/chemerisuk/better-dateinput-polyfill/tree/v2.0.2) to see if it's just a problem with v3, but that had problems too: Although the picker appeared, the month and year were invisible (probably easy to fix with CSS) and worse, when you clicked on a date, it didn't seem to select it (no value appeared in the input).

So what is a person to use for a polyfi

[2018-09-27 06:15] Teamop commented on #106
@TylerRick I have used v2.0.2 for a long time without having problems.

[2018-10-14 18:07] Lazza commented on #106
@TylerRick did you import all the things correctly? Check out the archived demo, you need quite a few scripts but it works:

https://web.archive.org/web/20180402164909/http://chemerisuk.github.io/better-dateinput-polyfill/

[2018-10-15 22:19] fabioemoutinho opened #110 "wrong selected date"
in Safari, picking a date in the datepicker selects the day before the selected date.
version: 3.0.0
better-dom: 4.0.0

[2018-11-15 08:17] PadmapriyaVasudevan commented on #106
Hi,
I have added better-dateinput-polyfill in my project but it doesn't seem to work in IE 11.But in this link https://web.archive.org/web/20180402164909/http://chemerisuk.github.io/better-dateinput-polyfill/ its working in IE 11 works fine. To make it work anything needs to be modified or changed in the code.

[2018-11-15 09:12] Teamop commented on #106
@PadmapriyaVasudevan use v2.0.2, not the latest v3

[2018-11-15 11:14] PadmapriyaVasudevan commented on #106
@Teamop  Thanks much for your reply. Everything else is working as expected rather than data-format attribute. I am unable to modify the date format (mm/dd/yyyy)

[2018-11-15 12:42] PadmapriyaVasudevan commented on #106
And also while submitting the value is not getting assigned to the formControlName.

[2018-11-16 14:05] chemerisuk commented on #106
Fixed in v3.0.1. There some tweaks with the presented date presentation that have to be done, but it works at least on IE 10-11.

[2018-11-16 14:05] #106 closed

[2018-11-16 14:06] chemerisuk commented on #110
@fabioemoutinho please try v3.0.1, I reworked date manipulation there.

[2018-11-16 14:06] #110 closed

[2018-11-16 14:11] PadmapriyaVasudevan commented on #106
@chemerisuk Thanks much for your reply.

[2018-11-17 10:15] chemerisuk commented on #109
Should be fixed in v3.0.2. The feature check there is done once on a temporary created element instead of the current one.

[2018-11-18 08:06] chemerisuk commented on #107
Fixed in v3.1.0

[2018-11-18 08:06] #107 closed

[2018-11-19 21:05] chemerisuk commented on #106
@PadmapriyaVasudevan I believe you have an error somewhere else. Everything is working on my side. In order to customize presented value try to add `data-format='{"month":"short","year":"numeric","day":"numeric"}'` on the element, for instance. Note: IE10 does not support Intl API, so the displayed value there is always the same, IE11 works well.

[2018-11-27 22:13] chemerisuk opened #111 "Add support for valueAsNumber"

[2018-11-30 04:48] rdm-dev09 commented on #106
I tried pasting better-dom into the console in IE 11, and that worked fine. However, when I tried the same for the unminified better-dateinput-polyfill, I got the following error:

SCRIPT5078: Cannot redefine non-configurable property 'value'
browsertools.console.js (141,7)

If we look at line 141 of the polyfill, we see this:

`Object.defineProperty(this[0], "value", {
        configurable: false

[2018-11-30 07:39] chemerisuk commented on #106
Try to install files from npm as described in readme and check if there is a problem. I’ve never experienced such an issue.

[2019-03-12 15:44] Ruphi opened #112 "question of datetime-local"
It works good  for date type, and can limit the value correctly, but not when the type is datetime-local.

[2019-03-12 19:16] chemerisuk commented on #112
@Ruphi datetime-local contains time input too, so it is out of scope of this project.

[2019-03-12 19:16] #112 closed

[2019-03-21 17:14] nickmelville opened #113 "Calendar off by one"
Not the same issue as #79, as the selected date is entered into the input correctly, but the calendar itself is off by one day.

This is happening on my local dev site, but also on the github.io demo site for me. Chrome 72, Central Time (currently UTC -5), and it shows March 2019 starting on a Thursday when it actually started on a Friday:

![image](https://user-images.githubusercontent.com/869271

[2019-03-22 19:38] chemerisuk commented on #113
@nickmelville thanks for details, I'll take a look.

[2019-04-02 09:55] porschuetz opened #114 "Date before 1970-01-01 not possible to select"
Is there a way to get around this? thanks

[2019-04-03 20:55] #113 closed

[2019-04-03 20:55] #114 closed

[2019-04-03 20:55] chemerisuk commented on #113
Try v3.2.4

[2019-04-03 20:55] chemerisuk commented on #114
Try v3.2.4

[2019-04-03 22:14] nickmelville commented on #113
Seems to have fixed the off by one issues, but now I see a couple others:

1. The date format is "YYYY-MM-DD" regardless of what the `lang` attribute on `<HTML>` is set to. I also tried manually formatting the inputs with a `data-format` attribute per https://github.com/chemerisuk/better-dateinput-polyfill#change-default-date-presentation-format and that isn't working either.

Example: https://cod

[2019-04-04 05:25] chemerisuk commented on #113
Thanks, all should be fixed in v3.2.5

[2019-04-04 05:36] chemerisuk commented on #101
@FeetInAncientTime sorry for such a long reply. I believe the issue was fixed in the latest version, try updated demo https://jsfiddle.net/g6xL2pob/4/.

[2019-04-04 05:36] #101 closed

[2019-04-04 05:37] chemerisuk commented on #81
@Pfiver do you see positioning issue in the latest v3.2.5?

[2019-04-04 05:37] #81 closed

[2019-04-04 05:42] chemerisuk opened #115 "Do not update value when clicking of prev/next buttons at date picker"

[2019-04-04 05:45] chemerisuk opened #116 "Do not update value when click on a cell in year/month picker mode"

[2019-04-04 14:08] nickmelville commented on #113
Looks great. Thanks!

[2019-05-08 15:08] dertin opened #117 "Cannot read property 'getComputedStyle' of null"
I am using the input[type=date] in a popup that I show and hide, and this is causing the following problem:
https://github.com/chemerisuk/better-dom/issues/45

I'm not sure if the problem is from the library (better-dom) or the polyfill (better-dateinput-polyfill)

[2019-05-22 09:02] paulgreg opened #118 "Stuck on 1/1/1970 on Firefox 67 Windows"
Using Firefox 67.0 on Windows 7, the « start date » example is set on 1/1/1970 and can’t be changed.
Clicking on the field opens the calendar but no action (previous/next month, clicking on a date) is possible.

Firefox nightly 69 on linux don’t have the problem.

[2019-05-30 23:59] jaweesner commented on #118
I looked into this a bit. It's due to firefox's flexible interpretation of the Date constructor. if the max/min attributes are not set, the Date constructor calls ```new Date("T00:00")``` which is interpreted as ```1970-01-01T08:00:00.000Z`` in firefox but ```Invalid Date``` in other broswers.  I'll open a PR.

[2019-06-04 14:01] MPriess commented on #117
@dertin Do you found a solution?

[2019-06-04 14:06] MPriess commented on #117
I attached an example how to reproduce the problem.

[datepicker.zip](https://github.com/chemerisuk/better-dateinput-polyfill/files/3252799/datepicker.zip)

[2019-06-19 15:33] chemerisuk commented on #118
Fixed in v3.2.7

[2019-06-19 15:33] #118 closed

[2019-06-19 16:07] paulgreg commented on #118
Thanks

[2019-07-24 20:43] easierbycode opened #120 "How do I style?"
How do we apply external styles?  I can override the `<object>` style, but not sure how to override anything in shadow dom using rules or variables.

example:
https://jsfiddle.net/easierbycode/4ps10hx2

[2019-08-06 11:01] jackbentley opened #121 "Uncaught TypeError: this._picker.toggleState is not a function"
It looks like there's some sort of race condition due to the way `better-dom` seems to handle "DOM extension".

I tried using this on my webpage - and after inserting the JS and clicking the input, I get this:

[code]

This happens all the time on my webpage. There's no other JS on the page.

I'm able to reproduce this on the demo consistently by just adding a breakpoint in the initialization code

[2019-09-02 14:38] garak opened #122 "Not working with bootstrap 3"
Datepicker is not showing correctly when used in a bootstrap (version 3.4.1) form. The height is limited and only four weeks are visible

 If I remove bootstrap css, datepicker is working perfectly (e.g. like in provided demo).
Attached screenshot in Firefox 68 on Ubuntu (I also tried in Explorer 11 in Windows, it's even worse: I can see only three weeks)

![Senzanome](https://user-images.githubus

[2019-09-04 10:43] svenvandescheur opened #123 "Datepicker does not respect input's default background image."
Whenever the polypill is used, it uses a generated svg image to show the formatted date (clever), however this overrides a potentially already existing background image resulting in unwanted behavior.

A possible fix for this would be to combine the background images using multiple backgrounds.

[2019-09-05 07:46] chemerisuk commented on #120
@easierbycode use object.contentDocument to get ref on the document element. On the other case it's probably better in future to allow style modification with custom css variables... I need to investigate possible use cases for presentation styling.

[2020-01-23 18:36] janet111 opened #124 "Does not allow the user to enter the date."
It appears, unless I am using it incorrectly that the user cannot just enter the date and always has to uses the date picker.

[2020-01-24 23:07] chemerisuk commented on #124
At present you can enter date only via picker.

[2020-01-30 09:13] devnix commented on #21
The project name led me to confusion too. I guess it would be useful to have the option of running it like a real polyfill, without breaking the current API!

[2020-01-30 10:13] devnix opened #125 "The calendar will not show it's full height"
Hi! I'm trying to implement your polyfill as this looks like the best solution I've found out there!

In our project, the <object> element seems like it's limiting the height of the calendar. I've tried to force the height. It works fine for lower values but once it reaches more than 210px, it will not increase anymore. May it be related to #122?

![image](https://user-images.githubusercontent.com

[2020-01-30 10:35] devnix commented on #122
Believe it or not, I think it's the `font-size` attribute set by Bootstrap 3 on `html`.

It renders OK for me if I add this CSS because I'm setting my required font-size on `body`:
[code]

[2020-01-30 10:36] devnix commented on #125
As I'm commenting on #122, it's solved by resetting the font on `html`:

[code]

[2020-01-30 10:36] #125 closed

[2020-01-30 14:03] chemerisuk commented on #125
@devnix thanks for the info. Do you mind to create a demo where the bug is reproduced? May be we can fix the issue in styles.

[2020-01-30 16:18] devnix commented on #125
There you go! https://codepen.io/devnix/pen/bGNPVMz

[2020-01-31 12:56] #122 closed

[2020-01-31 12:56] chemerisuk commented on #122
Fixed in v3.2.8

[2020-01-31 12:58] chemerisuk commented on #125
@devnix I've ended up using `px` units for `<dateinput-picker>`. It seems `rem` units changed when `font-size` modified on `<html>` element.

[2020-01-31 13:00] devnix commented on #125
Nice, thank you so much!

[2020-03-16 18:41] renedekat opened #126 "BUG: Months displayed incorrectly: March showing twice"
Steps to reproduce
1. Go to: http://chemerisuk.github.io/better-dateinput-polyfill/
2. Open calendar
3. Click on year

<img width="350" alt="Screenshot 2020-03-16 at 18 40 33" src="https://user-images.githubusercontent.com/8975204/76789924-c3cdb000-67b5-11ea-966b-211fb0f8ec53.png">

Browser: Safari Version 13.0.5 (15608.5.11)

[2020-03-17 07:20] chemerisuk commented on #126
Hm, weird.
<img width="760" alt="Screenshot 2020-03-17 10 18 04" src="https://user-images.githubusercontent.com/274044/76831686-d9d08480-6838-11ea-9513-8fd2e92b8deb.png">

What is your timezone?

[2020-03-17 11:21] renedekat commented on #126
@chemerisuk My timezone is GMT (Ireland)

[2020-03-22 07:05] #126 closed

[2020-03-22 07:05] chemerisuk commented on #126
@renedekat bugfix published in v3.2.9

[2020-03-23 15:51] renedekat commented on #126
Thanks a million @chemerisuk

[2020-04-23 20:31] marcpeabody opened #127 "In Safari every action subtracts 1 from the day"
You can reproduce this in the demo in Safari: http://chemerisuk.github.io/better-dateinput-polyfill/

Select a date. The date that appears in the input is one less than what you select.
Use any arrow key or vi key to navigate. The end result is one less than what it should have done.

[2020-05-14 19:18] thomasdarde opened #128 "Use in the contect of webpack"
Hello,

I was not able to use this polyfill with webpack, do you know if any resource exists showing how to do that ?

[2020-06-04 09:03] weberhofer commented on #124
I have tested the polyfill and it works quite well; typed input would be a very nice thing to see.

[2020-08-08 16:03] mrgodhani opened #129 "Making datepicker screen reader friendly"
Currently datepicker seems to be keyboard friendly accessible. But when it comes to screenreader it's not that accessible friendly. It is missing aria labels for dates.

Example: https://dequeuniversity.com/library/aria/date-picker

Is there anyway to include correct aria-labels for the dates to also make it screen reader friendly?

[2020-08-24 23:54] fstani commented on #127
Seems like part of the issue is how Safari handles dates and timezones, seems like when the date is created it creates in UTC, so if you are in a GMT-X timezone it will subtract a day

I have sometime, I'll try to fix this and send a PR

[2020-08-25 00:51] fstani commented on #127
@chemerisuk I've added a PR to fix this, take a look and check if you want to merge it

[2020-09-03 09:59] #127 closed

[2020-09-03 10:01] chemerisuk commented on #127
Bugfix published in v3.3.1

[2020-11-06 14:30] Sebi2020 opened #131 "Component overwrites value"
I use the polyfill together with VueJS. Currently it's not possible to set a default value with VueJS, because the Polyfill resets the value field.

[2020-11-06 15:12] Sebi2020 opened #132 "Tabbing into the date-field shows overlapping data in Firefox"
Tested with version: 82.0.2 (64Bit - Version)

Maybe this bug is only present, if your browser is setup to use other   languages than English and therefore displaying dates with another format than YYYY-mm-dd.

The bug occurs only if you navigate to the date field with the <kbd>TAB</kbd> key.

[2021-02-08 12:06] cyberbeat commented on #124
This is a blocker. For example for a birth-date of 1950 you have to click 70 times!

[2021-02-23 12:23] kenguest opened #133 "Year selection would be better if it were by a dropdown, especially for entering dates of birth"
For entering dates of birth, there could be a better ux than having to click on an arrow possibly up to 60 times or more.
It would be great if years could be selected from a drop-down selection.

[2021-04-18 10:46] chemerisuk commented on #133
Year selection is improve in v4 that implements different UI. Check demo at http://chemerisuk.github.io/better-dateinput-polyfill/

[2021-04-18 10:46] #133 closed

[2021-04-18 10:48] chemerisuk commented on #121
Version 4 does not have dependency on `better-dom`. The error should be solved. Check demo at http://chemerisuk.github.io/better-dateinput-polyfill/

[2021-04-18 10:48] #121 closed

[2021-04-18 10:49] chemerisuk commented on #115
Fixed in v4

[2021-04-18 10:49] #115 closed

[2021-04-18 10:49] chemerisuk commented on #116
Fixed in v4

[2021-04-18 10:49] #116 closed

[2021-04-18 10:50] chemerisuk commented on #132
@Sebi2020 check v4 demo at http://chemerisuk.github.io/better-dateinput-polyfill/. I haven't seen such an issue in Firefox.

[2021-04-18 10:52] chemerisuk commented on #128
@thomasdarde try to test v4 (demo at http://chemerisuk.github.io/better-dateinput-polyfill/). It has no dependencies so the setup should be easier - just include script file into your bundle.

[2021-04-18 10:54] chemerisuk commented on #124
Guys, check v4 (demo at http://chemerisuk.github.io/better-dateinput-polyfill/). New version has improved UI and it's much simpler to select years like 1950. Just make sure you specified appropriate value in `min`/`max` attributes.

[2021-04-18 10:54] #73 closed

[2021-04-18 10:55] chemerisuk commented on #117
Version 4 does not depend on `better-dom` so the issue should be fixed there.

[2021-04-18 10:55] #117 closed

[2021-04-18 20:34] Sebi2020 commented on #132
Please re-read my issue description:

Here you can see a screenshot showing the issue:
![error](https://user-images.githubusercontent.com/1862664/115159941-04bd8580-a096-11eb-99cb-fa6202cb0561.png)

[2021-04-18 21:44] chemerisuk commented on #132
@Sebi2020 reopen the link to demo. Your screenshot is for old version 3, try to use version 4 instead.

[2021-04-20 06:56] thomasdarde commented on #128
Thanks for the reply ! I did switch to https://www.npmjs.com/package/configurable-date-input-polyfill , but maybe it was only because I was not sufficiently familiar with webpack at the time

[2021-04-23 06:12] #128 closed

[2021-04-29 20:33] #132 closed

[2021-04-29 20:35] chemerisuk commented on #123
@svenvandescheur version 4 does not change background image for inputs.

[2021-04-29 20:35] #123 closed

[2021-04-30 17:42] cyberbeat commented on #124
The new version does not fix this? Is this planned?

[2021-04-30 22:13] chemerisuk commented on #124
@cyberbeat I’d say it’s not planned. With polyfill you can customise presentation of date so implementing manual input for every such date is not an easy task and frankly could be messy too. Check browser built in controls: they has support for manual input but do not allow to change date presentation. IMO human-friendly dates are more important than manual date input.

[2021-06-08 16:14] jeremyblalock opened #134 "No Support for EventListeners"
Currently when you pick a new day within the picker, it sets the input value, but does not dispatch an event. This is problematic for anyone using controlled inputs (React, Preact, etc.), and anyone building forms with dynamic validation.

In an ideal world, we would trigger a `change` event anytime a new date is selected.

Am I missing something here?

[2021-06-30 16:43] RafaelKr opened #136 "readonly is changable on demo page"
When opening the demo page with Firefox 89.0.2 the field with label "This field is readonly" can be changed although the readonly attribute is there.
http://chemerisuk.github.io/better-dateinput-polyfill/

[2022-03-01 07:41] dakur opened #137 "v4 stable"
Hello, do you plan to publish a stable release of v4? Thank you.

[2022-07-28 15:12] RafaelKr commented on #136
Still an issue in Firefox 103